@import url('https://fonts.googleapis.com/css?family=Raleway');
.title {
    text-align: center;
    display: block;
    color: #fffdd0;
    text-align: center;
    padding: 18px 18px;
    margin-bottom: -10px;
    text-decoration: underline;
    background-color: #333;
}

h1:hover {
    color: #4169E1;
    background-color: pink;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    background-image: url(sun-pattern.png);
}

.our-content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    font-weight: 900;
    max-width: 1000px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-bottom: 25px;
}

.container {
    height: 100px;
    width: 100px;
    position: relative;
    border: 3px solid green;
}

.button {
    background-color: tomato;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: orange;
}